
[Unit]

Description=Fun Police

StartLimitIntervalSec=5min
StartLimitBurst=5

[Service]

ExecStart=/usr/bin/python3 /usr/local/bin/rick/launcher.py

Environment=PYTHONUNBUFFERED=1

Restart=on-failure

NotifyAccess=all

TimeoutStopSec=30s

Type=notify

#User=rick

WatchdogSec=30s


[Install]

WantedBy=default.target
